

{% load static %}
<!DOCTYPE html>
<html lang="en" class="html-galery">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<title>Document</title>
</head>
<body class="gallery_body">

<div id="particles-js"></div>
    <script src="{% static 'anim-bg/particles.min.js' %}"></script>
    <script src="{% static 'anim-bg/app.js' %}"></script>

<nav>
        <div class="container nav_container">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="logo">
                <h4 class="site_name">COSMOSX</h4>
            </a>
            <ul class="nav_menu">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{{ 'news' }}">Новости</a></li>
                <li><a href="{{ 'gallery' }}">Галерея</a></li>
                <li><a href="{{ 'team' }}">Наша команда</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>


	<div class="description">
		<div class="galery_logo">SPACEX</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, deleniti nisi maxime ipsa temporibus obcaecati totam recusandae illo minus. Placeat nulla iusto illum nemo voluptas doloremque ab similique cupiditate rerum.</p>
	</div>

	<div class="swiper slider slider_main">
		<div class="swiper-wrapper slier__wrapper">
            {% for img in images %}
			<div class="swiper-slide slider__item">
				<div class="slider__img" data-swiper-parallax="20%" style="background-image: url({{ img.image.url }});"></div>
			</div>
            {% endfor %}


		</div>
	</div>
    <div class="swiper slider slider_bg">
		<div class="swiper-wrapper slier__wrapper">
            {% for img in images %}
			<div class="swiper-slide slider__item">
				<div class="slider__img" data-swiper-parallax="20%" style="background-image: url({{ img.image.url }});"></div>
			</div>
            {% endfor %}


		</div>
	</div>

    <script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>
	<script src="{% static 'js/swiperapp.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>