{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CosmosX</title>

    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

    <div id="particles-js"></div>
    <script src="{% static 'anim-bg/particles.min.js' %}"></script>
    <script src="{% static 'anim-bg/app.js' %}"></script>
   {% comment %} <script>/* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
particlesJS.load('particles-js', '{% static 'anim-bg/particles.json' %}', function() {
  console.log('callback - particles.js config loaded');
});</script>{% endcomment %}


    <nav>
        <div class="container nav_container">
            <a href="{% url 'home' %}" class="nav_menu logo">
                <img src="{% static 'images/logo.png' %}" alt="logo">
                <h4 class="site_name">COSMOSX</h4>
            </a>
            <ul class="nav_menu">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{{ 'news' }}">Новости</a></li>
                <li><a href="{{ 'gallery' }}">Галерея</a></li>
                <li><a href="{{ 'team' }}">Наша команда</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>

    <header>
        <div class="container header_container">
            <h1 class="header_title">Space X</h1>
            <h2 class="header_title header_subtitle">Производитель космической техники</h2>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="section_header">
                <h2 class="section_title">Деятельность</h2>
                <h3 class="section_subtitle">Компания SpaceX является частным разработчиком серии ракет-носителей «Фалькон». </h3>
            </div>

            <div class="about">
                <div class="about_item">
                    <img src="{% static 'images/falcon.jpg' %}" class="about_image">
                    <div class="about_content">
                        <img src="{% static 'images/activity-1.png' %}" alt="" class="about_content_image">
                        <h3>Семейство ракет Falcon</h3>
                        <p>Ракета-носитель Falcon Heavy заявлена самой мощной действующей ракетой в мире на момент запуска</p>
                    </div>
                </div>
                <div class="about_item">
                    <img src="{% static 'images/dragon.jpg' %}" class="about_image">
                    <div class="about_content">
                        <img src="{% static 'images/activity-2.png' %}" alt="" class="about_content_image">
                        <h3>Семейство ракет Falcon</h3>
                        <p>Ракета-носитель Falcon Heavy заявлена самой мощной действующей ракетой в мире на момент запуска</p>
                    </div>
                </div>
                <div class="about_item">
                    <img src="{% static 'images/engine.jpg' %}" class="about_image">
                    <div class="about_content">
                        <img src="{% static 'images/activity-3.png' %}" alt="" class="about_content_image">
                        <h3>Семейство ракет Falcon</h3>
                        <p>Ракета-носитель Falcon Heavy заявлена самой мощной действующей ракетой в мире на момент запуска</p>
                    </div>
                </div>
            {% comment %}<div class="about_item">
                <div class="about_image">
                    <img src="{% static 'images/falcon.jpg' %}" alt="">
                </div>
                <div class="about_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fuga nobis sequi tempore voluptatum? Debitis dignissimos excepturi in iste nam necessitatibus quas voluptatem. Autem deserunt dignissimos doloremque, doloribus illo laboriosam.</p>

                </div>
            </div>
            <div class="about_item">
                <div class="about_image">
                    <img src="{% static 'images/dragon.jpg' %}" alt="">
                </div>
            </div>
            <div class="about_item">
                <div class="about_image">
                    <img src="{% static 'images/engine.jpg' %}" alt="">
                </div>
            </div>{% endcomment %}
        </div>
        </div>

    </section>

    <section class="launch_section">
        <div class="container launch_section_container">
            <div class="launch_section_left">
                <div class="content">
                    <h2>Запуск новых ракет</h2>
                    <p>SpaceX побила свой годовой рекорд, совершив 32-й успешный запуск в 2022 году — уже на один больше, чем в 2021-м.  Летом этого года SpaceX планирует провести первый орбитальный полет корабля для колонизации Марса.</p>
                    <a href="{{ 'gallery' }}" class="btn">Фото запуска</a>
                </div>

            </div>
            <div class="launch_section_right">
                <iframe class="launch_video" src="https://www.youtube.com/embed/gnDQo9YXCdU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </section>






    <section class="section_footer">
        <div class="container">
            <div class="section_header">
                <h2 class="section_title">Информация</h2>
                <h3 class="section_subtitle">ДАННЫЙ САЙТ НЕСЕТ ИНФОРМАТИВНУЮ ФУНКЦИЮ И НЕ ЯВЛЯЕТСЯ ПЕРВОНАЧАЛЬНЫМ ИСТОЧНИКОМ! ОДНАКО ВЫ МОЖЕТЕ ОЗНАКОМИТЬСЯ С РАЗДЕЛАМИ САЙТА И УЗНАТЬ НОВУЮ ИНФОРМАЦИЮ О ПОСЛЕДНИХ ТЕХНОЛОГИЯХ КОМПАНИИ ЛОЛ!</h3>
                <div class="social-media">
                   <div class="social_content">
                        <a href="https://www.instagram.com/spacex/" target="_blank" class="social_item">
                            <img class="social_img" src="{% static 'images/inst.png' %}" alt="insta">
                            <h4 class="social_name">insta: ilonmaskal</h4>
                        </a>
                   </div>
                    <div class="social_content">
                        <a href="https://telegram.me/SpaceX" target="_blank" class="social_item">
                            <img class="social_img" src="{% static 'images/telegram.png' %}" alt="insta">
                            <h4 class="social_name">8805553535</h4>
                        </a>
                   </div>
                    <div class="social_content">
                        <a href="https://twitter.com/SpaceX?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="social_item">
                            <img class="social_img" src="{% static 'images/twitter.png' %}" alt="insta">
                            <h4 class="social_name">tw: ilonochka</h4>
                        </a>
                   </div>
                </div>
            </div>
        </div>

    </section>

</body>
</html>