.open_news_section{
    padding-bottom: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50%;/*var(--container-width-lg);*/
}



.news_image {
    position: relative;
    margin-bottom: 50px;
}

/* Bottom right text */
.text_block {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(7, 12, 34, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}
.text_block h3{
    color: #c8c8bd;
}
