* {
    margin: 0;
    padding: 0;
    bottom: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

    --dark: #070707;
	--sizeindex: calc(1vw + 1vh);
	--transition-gallery: .75s cubic-bezier(.2, .6, 0, 1);
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: white;
    background: white;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
section{
    padding: 6rem 0;

}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}

a{
    color: white;
}
.site_name{
    color: #fdfff5;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: #e84c3d;
    color: white;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    border-color: white;
}
/*=================== ANIM-BG ================*/

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    background-color: #070c22;
}
/*#particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #070c22;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }*/

/*=================== NAVBAR ================*/

nav{
    background: #030511;
    /*background: blue;*/
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
nav img{
    width: 29px;
    max-width: 100%;
}


.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.logo{
    gap: 1rem;
    display: flex;
    align-items: center;
}
.nav_menu a{
    font-size: 1.2rem;
    transition: var(--transition);
}

.nav_menu a:hover{
    color: #e84c3d;
}

/*===================== HEADER =====================*/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/home-bg.png") center no-repeat;
    background-size: cover;
    /* Set a specific height */
    min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.header_container{
    color:white;
}
.header_title{
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}
.header_subtitle{
    font-size: 40px;
    font-weight: 400;
}

/*===================== SECTION =====================*/

section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 0;
}
.section_header{

    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    color: #ecece9;
    text-align: center;
    align-items: center;
}

.section_title{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}

.section_title:after{

    content: "";
    display: block;
    width: 150px;
    height: 3px;
    margin: 0 auto 40px;
    background-color: #e84c3d; /*#ffb60a*/
}

.section_subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #ecece9;
}

/*===================== SECTION/about =====================*/

.about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 80px;
}
/*

.about_image img{
    object-fit: cover;
    height: 300px;
}

.about_item:hover .about_image img{
    opacity: .1;
}

.about_image{
    background: linear-gradient(to bottom, #293645 , #102448);
}
.about_image img{
    transition: opacity .1s linear;
}
*/


.about_item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 2px #d5d5d5;
  -moz-box-shadow: 1px 1px 2px #d5d5d5;
  box-shadow: 1px 1px 2px #d5d5d5;
}

.about_item img {
  display: block;
  position: relative;
  height: 40vh;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.about_item .about_content {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #86afee , #102448);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.about_item .about_content h3 {
  margin: 0 10px;
  padding: 10px;
  border-bottom: 1px solid #d5d5d5;
  text-transform: uppercase;
  text-align: center;
  font-size: calc(var(--sizeindex)*0.95);
  font-weight: 700;
  color: white;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.about_item .about_content p {
  padding: 10px;
  font-size: calc(var(--sizeindex)*0.85);
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  color: white;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.about_item:hover img {
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.about_item:hover .about_content {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.about_item .about_content_image{

    width: auto;
    height: 30%;
    margin: 25px auto 0;
}
.about_item:hover img,
.about_item:hover h3,
.about_item:hover p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/*===================== launch_section =====================*/

.launch_section{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    overflow: hidden;
}

.launch_section_container{
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    color: white;
}

.launch_section_left{
    display: table;
    text-align: center;
    background-color: #172126;
}
.launch_section_left .content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 80px auto;
    max-width: 500px;
}

.launch_section_right{

}

.launch_video{

    height: 70vh;
    width: 100%;
}
.launch_section_left h2{
    font-size: calc(var(--sizeindex) * 1.25);
}
.launch_section_left a{
    font-size: calc(var(--sizeindex) * 1);
}
.launch_section_left p{
    font-size: calc(var(--sizeindex) * 1);
    margin: 1rem 0 2.4rem;
}

/*===================== section_footer =====================*/

.section_footer{
    padding: 50px 0;
    margin-bottom: 0;
}
.section_footer h3{
    font-size: 12px;
}

.social-media{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 20px;
}

.social_item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.social_name{
    font-size: 12px;
}
.social_img{
    width: 36px;
    max-width: 100%;
}


/*------------------NEWS.CSS-----------------------*/

.news_section{
    padding-bottom: 80px;

}

/* ---------------------------POSTS--------------------------*/

.section_posts{
    padding: 0;
}

.post_content{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 4fr;
    /*width: var(--container-width-lg);*/
    gap: 2rem;
    margin-bottom: 50px;
    /*height: 250px;*/
    min-width: 300px;
    /*display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 50px;*/
}
.post_text{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    border: 2px solid #e84c3d;
    border-radius: 10px;
    background-color: rgba(2, 5, 18, 0.6);

}
.post_title{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #e84c3d;
}
.post_description{
    font-size: 20px;
    color: #c8c8bd;
}
.post_image img{
    width: 100%;
    min-height: 100%;
    object-fit: fill;
}
.post_date{
    margin-top: auto;
}


/*--------------------PAGINATION-----------------*/
.nav_pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_pagination_menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 20px;

}
.page_num{
    margin: auto;
    display: flex;
    justify-content: center;
	width: 60px;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.page_num:hover {
	box-shadow: 2px 2px 1px #d0d0d0;
}
.page_num-selected {
    border-color: #e84c3d;
	color: #e84c3d;
	font-size: 20px;
    background-color: rgba(2, 5, 18, 0.6);
}
.page_num-selected:hover {
	box-shadow: none;
}

/*-------------------GALLERY.CSS-----------------*/



.gallery_body, .html-galery{
	width: 100%;
	height: 100%;
	color: #fff;
	overflow: hidden;
	line-height: 1.8;
}
.slider {
	height: 100%;
	overflow: visible;
	top: 20vh;
}
.slier__wrapper {
	transition: var(--transition-gallery)!important;
	will-change: transform;
}
.slider_main{
    left: 10vw;
}
.slider__item {
    /*width: 426px!important;*/
	max-height: 70vh;
	overflow: hidden;
	cursor: pointer;
	transition: transform var(--transition-gallery), box-shadow var(--transition-gallery);
}
.slider__img {
	width: 200%;
	height: 100%;
	background-size: cover;
	position: absolute;
	left: -50%;
	transition: var(--transition-gallery)!important;
	will-change: transform;
}
/*.slider__item.opened {
	z-index: 13;
	transform: scale(1.15);
	box-shadow: rgb(0 0 0 / .75) 0 0 0 10000px;
}
.opened .slider__img{
    width: 100%;
	height: 100%;
    left: 0;
	background-repeat: no-repeat;
	background-position: center;
}*/

.description {
	position: absolute;
	font-size: calc(var(--sizeindex)*1.05);
	top: 20vh;
    left: 12%;
    height: 70vh;
	max-width: 25vw;
	transition: opacity var(--transition-gallery), transform var(--transition-gallery);

    padding: 0.3rem;
    border: 2px solid #e84c3d;
    border-radius: 10px;
    background-color: rgba(2, 5, 18, 0.6);
}
.galery_logo {
	font-size: calc(var(--sizeindex)*2.2);
	font-weight: 900;
	display: inline-block;
	background: #e84c3d;
	/*background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.description p {
	opacity: .9;
	transition: transform var(--transition-gallery);
	transition-duration: 3s;
}
.description.hidden {
	opacity: 0;
	transform: translateY(5vh);
}
.description.hidden p {
	transform: translateY(2vh);
}


/*--------------------TEAM.CSS------------------------*/
.member_section{
    padding-top: 70px;
}
.team_container{
    margin-bottom: 100px;
    width: 100%;
    height: calc(100vh - 5rem );
    /* Set a specific height */
    min-height: 500px;

  /* Create the parallax scrolling effect *//*
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;*/
}
.team_container img{
    width:100%;
    height:100%;
    margin-top: 5rem;
    display: block;
    object-fit: fill;
  /* Create the parallax scrolling effect *//*
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;*/
}
.content h1{
    color: #e84c3d;
}

.team_container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #ecece9; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}
.team_container .content h1{
    font-size: calc(var(--sizeindex) * 1.8);
}
.team_container .content p{
    font-size: calc(var(--sizeindex) * 0.95);
}
.member_content{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 4fr;
    width: var(--container-width-lg);
    gap: 2rem;

    opacity: 0;
    transform: translateY(20px);
    /*display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 50px;*/
}
.member_content.element_show{
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}


.member_content.right{
    grid-template-columns: 4fr 2fr;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.member_description{
    height: 60vh;
    background-color: rgba(2, 5, 18, 0.6);
    padding: 0.5rem;
    border: 2px solid #e84c3d;
    border-radius: 10px;
    font-size: calc(var(--sizeindex)*0.9);
}
.member_description p strong{
    font-size: calc(var(--sizeindex)*1);
    color: #e84c3d;
}

.member_img{
    height: 60vh;
    width: 100%;
    position: relative;
}
.member_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* When you mouse over the container, fade in the overlay title */
.member_img:hover .overlay {
  opacity: 1;
}


/*---------------------DETAIL.CSS------------------*/
.open_news_section{
    padding-bottom: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50%;/*var(--container-width-lg);*/
}



.news_image {
    position: relative;
    margin-bottom: 50px;
}

/* Bottom right text */
.text_block {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(7, 12, 34, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    height: 50%;
    padding: 20px; /* Some padding */
}

.text_block h2{
    margin-bottom: 0;
    font-size: calc(var(--sizeindex)*1);

}
.text_block h3{

    position: absolute;
    bottom: 0px;
    color: #c8c8bd;
    font-size: calc(var(--sizeindex)*1);
}


@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.3rem;
    }
    h4{
        font-size: 1.1rem;
    }
    .header_title{
        font-size: 5rem;
    }
    .header_subtitle{
        font-size: 3rem;
    }

    .launch_section_container{
        width: 100%;
    }

    /*--------------------NAVBAR------------------*/
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: white;
        border: none;
        cursor: pointer;
    }
    nav button#close-menu-btn {
        display: none;
    }
    .nav_menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav_menu li{
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 300ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav_menu li:nth-child(2) {
        animation-delay: 100ms;
    }
    .nav_menu li:nth-child(3) {
        animation-delay: 200ms;
    }
    .nav_menu li:nth-child(4) {
        animation-delay: 300ms;
    }
    @keyframes animateNavItems {
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }


    .nav_menu li a{
        background: #0c0e3b;
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav_menu li a:hover {
        background: #090a2a;
    }

    .post_content{
        grid-template-columns: 5fr 6fr;
    }

    /*launch_section*/
  .launch_section_left .content{
      display: block;
  }

    /*.launch_section_right{
        height: 500px;
    }*/


    /*gallery*/
    .description{
        left: 5%;
        top: 6rem;
        height: auto;
        position: relative;
        max-width: 90%;

    }
    .slider{
        top: 13vh;
    }
    .slider__item{
        max-height: 57vh;
    }
    .description {
	    font-size: calc(var(--sizeindex)*1.25);
    }
    .galery_logo {
	    font-size: calc(var(--sizeindex)*2.5);
    }



    /*team*/
    .team_container{
        width: 100%;
    }
    .member_content{
        width: var(--container-width-md);

        grid-template-columns: 4fr 4fr;
    }
    .member_content.right{
       grid-template-columns: 4fr 4fr;
    }

    .member_description{
    font-size: calc(var(--sizeindex)*0.85);
}




    .member_description p strong{
    font-size: calc(var(--sizeindex)*1);
    }

    .text_block{
        padding: 15px;
    }

    .text_block h2{
        margin-bottom: 1rem;
    }
    .slider_main{
    left: 5vw;
    }

.launch_section_container{
        grid-template-columns: 1fr;
    }

    .launch_section_right{

        height: 100%;
    }

    .about_item img{
    height: 30vh;
    }

    .team_container .content {
    position: relative; /* Position the background text */
}

    .team_container img {
    height: calc(70vh - 5rem);
}
    .team_container .content {
    height: 30vh;
}

}



@media screen and (max-width: 767px) {
    .container {
        width: var(--container-width-sm);
    }

    .nav_menu{
        width: 100%;
        right: 0;
    }
    .header_title{
        font-size: 60px;
    }
    .header_subtitle{
        font-size: 25px;
    }

    .about{
        grid-template-columns: 1fr;
    }

    .launch_section_container{
        grid-template-columns: 1fr;
    }

    .post_content{
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .text_block{
        padding: 5px;
    }

    .text_block h2{
        margin-bottom: 0;
    }

    .open_news_section{
    width: 70%;/*var(--container-width-lg);*/
    }
    .slider_main{
    left: 0;
    }


    .launch_section_right{
        height: 100%;
    }

/*team*/
    .team_container{
        width: 100%;
        margin-bottom: 0;
    }
    .content{
        height: 50vh;
    }

    .team_container img{
        height: calc(50vh - 5rem);
    }
    .member_section{
        padding-bottom: 20px;
    }
    .member_content{
        width: var(--container-width-sm);

        grid-template-columns: 1fr;
    }
    .member_content.right {
        width: var(--container-width-sm);

        grid-template-columns: 1fr;
        grid-template-areas:
        "imgg"
        "desc";
    }
    .member_content.right .member_img{
         grid-area: imgg;
    }
    .member_content.right .member_description{
         grid-area: desc;
    }

    .member_description{
    font-size: calc(var(--sizeindex)*1.25);
}




    .member_description p strong{
    font-size: calc(var(--sizeindex)*1.4);
    }
    .content p{
        font-size: calc(var(--sizeindex)*1.2);
    }
    .content h1{
        font-size: calc(var(--sizeindex)*1.7);
    }

.member_description{
    height: auto;
    border: none;
    background-color: transparent;
    padding: 0;
}
.member_description p{
    background-color: rgba(2, 5, 18, 0.6);
    padding: 0.5rem;
    border: 2px solid #e84c3d;
    border-radius: 10px;
    }
.team_container .content {
    padding: 10px;
    position: relative; /* Position the background text */
}

.swiper-wrapper{
        height: 54%;
    }


.team_container .content h1{
    font-size: calc(var(--sizeindex) * 2.1);
}
.team_container .content p{
    font-size: calc(var(--sizeindex) * 1.2);
}
}